#box-model{
    
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid #222;
    border-radius: 10px;
    height: 100px;
    outline: 2px solid #BBB;
    background-color: #399;
   
    

}

.text-desafio{
    color: black;
    font-size: 30px;
    font-style: italic;
    box-shadow: black 5px;
    justify-content: center;
    text-align: center;
    border: none;
}