h3{
    color: green;
    font-size: 10px;
    
}

.paragrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#titulo-exclusivo{
    background-color: brown;
    color: whitesmoke;
    padding: 10px;
    font-style: italic;
    border-radius: 20px;
    text-align: center;
}