h3{
    color: green;
    font-size: 10px;
    
}

.paragrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#titulo-exclusivo{
    background-color: brown;
    color: whitesmoke;
    padding: 10px;
    font-style: italic;
    border-radius: 20px;
    text-align: center;
}

.bg-imagem{
    background-image: url(../img/flamengo.jpg);
    color: white;
    padding: 30px;
    background-size: cover;
}

.height-width{
    height: 100px;
    width: 100px;
    background-color: red;
}

.height-width2{
    height: 50px;
    background-color: gray;
}

.com-padding{
    padding: 20px;
    background-color: black;
    color: white;

}

.sem-padding{
    background-color: darkgray;
    color:white;
}

.borda1{
    border: 10px solid brown;
    padding: 10px;

}

.borda2{
    border: 50px dotted yellow;
    padding: 50px;
}

.margim{
    color: white;
    padding: 10px;
    background-color: tomato;

}

.margim-top{
    color: wheat;
    background-color: black;
    padding: 50px;

}

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid salmon;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}